.header{
  width: 100%;
  display:flex;
  justify-content: center;
  margin: 20px auto 50px auto;
  gap:30px;

  &__title{
    color:#454545;
    text-align: center;
    display: flex;
    font-size: 30px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: overline;

  }
  &__logo{
    width: 100px;

  }
}