<main class="main">


<section class="productos">
  <form class="form">
    <input class="js_input-buscador form__input-buscador" type="text" placeholder="¿Qué estás buscando?"/>
    <input class="js_submit-buscador form__submit" type="submit" value="buscar" />
  </form>
  <h2 class="productos__title">PRODUCTOS</h2>
  <ul class="js_list-productos productos__list"></ul>
</section>

<section class="secc-carrito">
  <h3 class="secc-carrito__title">Carrito</h3>
  <ul class="js_list-carrito secc-carrito__list"></ul>
</section>
</main>
