<main class="main">


<section class="productos">
  <form class="form">
    <input class="js_input-search form__input-search" type="text" placeholder="¿Qué estás buscando?"/>
    <input class="js_submit-search form__submit" type="submit" value="buscar" />
  </form>
  <h2 class="productos__title">PRODUCTOS</h2>
  <ul class="js_list-products productos__list"></ul>
</section>

<section class="secc-cart">
  <h3 class="secc-cart__title">Carrito</h3>
  <ul class="js_list-cart secc-cart__list"></ul>
  <p class="js_delete_cart secc-cart__delete hidden">Vaciar carrito</p>
</section>
</main>
